<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/setting.css">

    <!-- Scrip importing -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app = "myApp" ng-controller="LoginController" >

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6"style="margin-top: 10%">

            <form>
                <div class="form-group">
                    <h1 style="font-size: 60px;text-align: center">เข้าสู่ระบบ</h1>
                    <label style="font-size: 40px;margin-top: 5%" for="userID">Username</label>
                    <input style="font-size: 30px" ng-model="userID" type="text" class="form-control" id="userID"  placeholder="Username">
                </div>
                <div class="form-group">
                    <label style="font-size: 40px;margin-top: 5%" for="userID">Password</label>
                    <input style="font-size: 30px" ng-model="userID" type="password" class="form-control" id="pwdData"  placeholder="Password">
                </div>
                <center><button ng-click="login()" style="font-size: 25px" type="login" class="btn btn-primary">Sign in</button></center>
            </form>



        </div>
        <div class="col">
        </div>
    </div>
</div>


</body>
</html>